<div class="relative overflow-x-auto w-full">
    <div class="flex pt-2 pb-6">
        <h3 class="md:basis-1/2 text-4xl font-light text-blue-600 ">Lista de Moderadores</h3>

        <!--Boton Drawer Agregar Moderador-->
        <div class="basis-1/2 text-end">
            <button (click)="addUsuarioModerador()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none" type="button">    
            Agregar Moderador
            </button>
        </div>
    </div>

    <!--Lenght 0-->
    <div [ngClass]="{'hidden': usuarios.length > 0}" class="w-full flex justify-center t-5">
        <div class="px-4 py-3 basis-1/2">
            <h1 class="text-center text-3xl font-medium mb-3">No hay moderadores para mostrar</h1>
            <p class="text-center text-lg">No hay moderadores registrados en este momento. Agrega un moderador para registrarlo en la base de datos.</p>
        </div>
    </div>

    <table [ngClass]="{'hidden': usuarios.length <= 0}" class="w-full text-sm text-left text-blue-100">
        <thead class="text-xs text-black uppercase bg-blue-400 ">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Username
                </th>
                <th scope="col" class="px-6 py-3">
                    Correo
                </th>
                <th scope="col" class="px-6 py-3">
                    Telefono
                </th>
                <th scope="col" class="px-6 py-3">
                    Estatus
                </th>
                <th scope="col" class="px-6 py-3">
                    Acciones
                </th>
            </tr>
        </thead>
        
        <tbody>
            <tr class="bg-gray-600 border-b border-blue-400 " *ngFor="let usuario of usuarios">
                <!--ID-->
                <th scope="row" class="px-6 py-4 font-medium text-blue-50 whitespace-nowrap dark:text-blue-100">
                    {{usuario.id}}
                </th>

                <!--Username-->
                <td class="px-6 py-4">
                    {{usuario.username}}
                </td>

                <!--Correo-->
                <td class="px-6 py-4">
                    {{usuario.correo}}
                </td>

                <!--Telefono-->
                <td class="px-6 py-4">
                    {{usuario.telefono}}
                </td>

                <!--Estatus-->
                <td class="px-6 py-4">
                    <ng-container [ngSwitch]="usuario.estatus">
                        <span *ngSwitchCase="0">Sin Verificar</span>
                        <span *ngSwitchCase="1">Desactivada</span>
                        <span *ngSwitchCase="2">Activo</span>
                    </ng-container>
                </td>

                <!--Acciones-->
                <td class="px-6 py-4 flex">
                    <!--Modificar Usuario-->
                    <button (click)="modificarUsuario(usuario.id)" type="button" class="mr-2 px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">Modificar Usuario</button>

                    <!--Eliminar Usuario-->
                    <button (click)="deleteUsuario(usuario.id)" type="button" class="mr-2 px-3 py-2 text-xs font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300">Eliminar Usuario</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>