<div class="relative overflow-x-auto w-full">
    <!--Boton Agregar Invitado-->
    <div class="flex pt-2 pb-6 pl-4">
        <h3 class="basis-1/2 text-4xl font-light text-blue-600 ">Lista de Tiendas</h3>

        <!--Boton Drawer Agregar Moderador-->
        <div class="basis-1/2 text-end">
            <button (click)="addTienda()" class="mr-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none" type="button">    
            Agregar Tienda
            </button>
        </div>
    </div>

    <!--Lenght 0-->
    <div [ngClass]="{'hidden': tiendas.length > 0}" class="w-full flex justify-center t-5">
        <div class="px-4 py-3 basis-1/2">
            <h1 class="text-center text-3xl font-medium mb-3">No hay tiendas para mostrar</h1>
            <p class="text-center text-lg">No hay tiendas registradas en este momento. Agrega una tienda o espera a que alguna tienda sea registrada por otro usuario.</p>
        </div>
    </div>

    <!--Tiendas-->
    <div [ngClass]="{'hidden': tiendas.length <= 0}" class="md:flex md:flex-wrap">
        <div class="md:basis-1/3" *ngFor="let tienda of tiendas">
            <div class="border mx-3 mb-3 px-5 py-4 bg-gradient-to-br from-white/50 to-blue-300/50 rounded-xl">

                <!--Nombre Tienda-->
                <div class="mb-3 flex">
                    <div class="basis-1/2">
                        <span class="text-gray-900 text-xl font-medium">N°{{tienda.id}}.- <span class="text-blue-700">{{tienda.nombre}}</span></span>
                    </div>

                    <div class="basis-1/2 text-end" hidden>
                        <!--Boton Acciones-->
                        <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs px-4 py-1 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                            <svg class="w-4 h-4" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>

                        <!--Dropdown Acciones - Suspendido-->
                        <div id="dropdown" class="text-start border z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow drop-shadow-md w-44">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">

                                <!--Administrar Sensores-->
                                <li>
                                    <button id="doubleDropdownButton" data-dropdown-toggle="doubleDropdown" data-dropdown-placement="right-start" type="button" class="flex items-center justify-between w-full px-4 py-2 hover:bg-gray-200">
                                        Sensores
                                        <svg aria-hidden="true" class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                                        </svg>
                                    </button>

                                    <div id="doubleDropdown" class="z-10 hidden border bg-white divide-y divide-gray-100 rounded-lg shadow drop-shadow-md w-44">
                                        <form class="mt-2" >
                                            <ul class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700" aria-labelledby="dropdownSearchButton">
                                                <!--Camara-->
                                                <li>
                                                    <div class="flex items-center pl-2 rounded hover:bg-gray-100">
                                                        <input id="camara" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                                                        <label for="camara" class="w-full py-2 ml-2 text-sm font-medium text-gray-900 rounded">Camara</label>
                                                    </div>
                                                </li>
    
                                                <!--Temperatura-->
                                                <li>
                                                    <div class="flex items-center pl-2 rounded hover:bg-gray-100">
                                                        <input id="temperatura" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                                                        <label for="temperatura" class="w-full py-2 ml-2 text-sm font-medium text-gray-900 rounded">Sensor de Temperatura</label>
                                                    </div>
                                                </li>
    
                                                <!--Gas-->
                                                <li>
                                                    <div class="flex items-center pl-2 rounded hover:bg-gray-100">
                                                        <input id="checkbox-item-11" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                                                        <label for="checkbox-item-11" class="w-full py-2 ml-2 text-sm font-medium text-gray-900 rounded">Sensor de Gas</label>
                                                    </div>
                                                </li>
    
                                                <!--Infrarrojo-->
                                                <li>
                                                    <div class="flex items-center pl-2 rounded hover:bg-gray-100">
                                                        <input id="checkbox-item-11" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                                                        <label for="checkbox-item-11" class="w-full py-2 ml-2 text-sm font-medium text-gray-900 rounded">Sensor Infrarrojo</label>
                                                    </div>
                                                </li>
    
                                                <!--Movimiento-->
                                                <li>
                                                    <div class="flex items-center pl-2 rounded hover:bg-gray-100">
                                                        <input id="checkbox-item-11" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                                                        <label for="checkbox-item-11" class="w-full py-2 ml-2 text-sm font-medium text-gray-900 rounded">Detector de Movimiento</label>
                                                    </div>
                                                </li>
    
                                                <!--Inundacion-->
                                                <li>
                                                    <div class="flex items-center pl-2 rounded hover:bg-gray-100">
                                                        <input id="checkbox-item-11" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                                                        <label for="checkbox-item-11" class="w-full py-2 ml-2 text-sm font-medium text-gray-900 rounded">Sensor de Inundacion</label>
                                                    </div>
                                                </li>
    
                                                <!--Huella-->
                                                <li>
                                                    <div class="flex items-center pl-2 rounded hover:bg-gray-100">
                                                        <input id="checkbox-item-11" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                                                        <label for="checkbox-item-11" class="w-full py-2 ml-2 text-sm font-medium text-gray-900 rounded">Sensor de Huella</label>
                                                    </div>
                                                </li>
                                            </ul>
    
                                            <!--Boton-->
                                            <a class="flex items-center p-3 text-sm font-medium text-blue-600 border-t border-blue-200 rounded-b-lg bg-gray-50 hover:underline hover:bg-blue-200 a-link">
                                                <svg class="w-5 h-5 mr-1" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z"></path>
                                                </svg>  
                                                 Mostrar Sensores
                                            </a>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Propietario-->
                <div class="flex mb-2">
                    <div class="basis-auto">
                        <span class="text-gray-900 text-lg font-medium flex items-center justify-center h-full">Propietario:</span>
                    </div>

                    <div class="flex-grow text-md ml-2 px-3 py-1 bg-white rounded-lg border">
                        <span>{{getInfoOwnersTienda(tienda.id)}}</span>
                    </div>
                </div>

                <!--Codigo de Invitacion-->
                <div class="flex mb-2">
                    <div class="basis-auto">
                        <span class="text-gray-900 text-lg font-medium flex items-center justify-center h-full">Codigo de Invitacion:</span>
                    </div>

                    <div class="flex-grow text-md ml-2 px-3 py-1 bg-white rounded-lg border">
                        <span>{{tienda.code}}</span>
                    </div>
                </div>

                <!--Botones-->
                <div class="px-3 py-3 bg-white rounded-lg">
                    <!--Mostrar Invitados-->
                    <div class="mb-2">
                        <!--Botorn Drawer Mostrar Invitados-->
                        <button (click)="administrarInvitados(tienda.id)" class="w-full px-3 py-2 text-xs font-medium text-center text-white bg-gray-400 rounded-lg hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-200">Mostrar Invitados</button>
                    </div>

                    <!--Agregar Invitado-->
                    <div class="mb-2">
                        <!--Boton Modal Agregar Invitado-->
                        <button (click)="addInvitado(tienda.id)" class="w-full px-3 py-2 text-xs font-medium text-center text-white bg-gray-400 rounded-lg hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-200">Añadir Invitado</button>
                    </div>

                    <!--HR-->
                    <div class="my-2 border"></div>

                    <!--Opciones Tiendas-->
                    <div class="flex">
                        <!--Modificar Tienda-->
                        <div class="basis-1/2 mr-1">
                            <!--Boton Modal Modificar Tienda-->
                            <button (click)="updateTienda(tienda.id)" class="w-full px-3 py-2 text-xs font-medium text-center text-white bg-gray-400 rounded-lg hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-200">Modificar Tienda</button>
                        </div>

                        <!--Eliminar Tienda-->
                        <div class="basis-1/2 ml-1">
                            <!--Boton Delete modal-->
                            <button (click)="deleteTienda(tienda.id)" class="w-full px-3 py-2 text-xs font-medium text-center text-white bg-gray-400 rounded-lg hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-200">Eliminar Tienda</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>