<div class="md:flex justify-center my-8">
    <div class="md:basis-1/2 bg-gray-100 border border-gray-300 border-2 rounded-lg">
      <div class="md:flex bg-gray-100">
        <!--Logo-->
        <div class="md:basis-1/3 px-6 md:py-4 flex justify-center items-center">
            <div class="hidden sm:block basis-auto">
                <img src="../../../../assets/escudo.svg" class="" alt="escudo" style="max-height: 240px; max-width: 240px;">
                <div class="text-center text-4xl font-semibold">
                    ShopShield
                </div>
            </div>
        </div>

        <!--Card-->
        <div class="md:basis-2/3 bg-white border border-2 border-gray-300 rounded-lg px-6 py-4 my-5 mx-4">
            <!--Logo-->
            <div class="flex items-center justify-end">
                <img src="../../../../assets/escudo.svg" alt="logo" class="mr-1" style="max-width: 24px; max-height: 24px;">
                <span class="self-center text-lg font-semibold whitespace-nowrap">ShopShield</span>
            </div>

            <!-- Título -->
            <div class="mb-3">
                <span class="text-2xl font-semibold">Confirma tu Identidad</span>
            </div>

            <!--Mensaje-->
            <div class="mb-6">
                <span class="text-md text-justify">
                    Por favor, seleccione una de las opciones de verificación a continuación para confirmar que la cuenta le pertenece y así poder ayudarlo a restablecer su contraseña y recuperar el acceso a su cuenta:
                </span>
            </div>
  
            <!-- Formulario -->
            <div class="mb-2">
                <!--Acordion-->
                <div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">
                    <!--Correo-->
                    <h2 id="accordion-flush-heading-1">
                    <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400" data-accordion-target="#accordion-flush-body-1" aria-expanded="true" aria-controls="accordion-flush-body-1">
                        <span>Enviar un correo electronico</span>
                        <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>

                    </h2>

                    <div id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-heading-1">
                        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                            <span class="mb-2 text-gray-500">Se enviará un correo electrónico a la dirección asociada a esta cuenta con un código de 4 dígitos, ingrésalo dentro de la casilla para verificar que eres dueño de la cuenta:</span>

                            <div class="mt-2">
                                <form [formGroup]="formCode1" (ngSubmit)="onSubmitCode(formCode1.value)">
                                    <div class="flex">
                                        <div class="basis-1/2 mt-2">
                                            <label [ngClass]="{'text-red-700': formCode1.get('codigo_verificacion')?.invalid && formCode1.get('codigo_verificacion')?.touched || invalido}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Codigo de Verificación</label>
                                            <input formControlName="codigo_verificacion" [ngClass]="{'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500': formCode1.get('codigo_verificacion')?.invalid && formCode1.get('codigo_verificacion')?.touched || invalido}" type="number" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50" min="0" max="9999">
                                            <p *ngIf="formCode1.get('codigo_verificacion')?.invalid && formCode1.get('codigo_verificacion')?.touched" class="mt-2 text-sm text-red-600">
                                                <span *ngIf="formCode1.get('codigo_verificacion')?.errors?.['required']" class="text-xs font-medium">¡Ha sucedido un error! El codigo es requerido.</span>
                                            </p>

                                            <div *ngIf="enviado1" class="mt-2 text-sm font-medium text-gray-500">
                                                ¿No recibiste ningún código?
                                                <a class="text-blue-700 hover:underline dark:text-blue-500 a-link">Reenviar Código</a>
                                            </div>
                                        </div>
                                        
                                        <div class="basis-1/2 mt-9 pt-0.5 ml-2 pb-1 self-end">
                                            <button (click)="enviarCodigo1()" *ngIf="!enviado1" [ngClass]="{'button-failed': apiFailed}" (animationend)="onAnimationEnd()" type="submit" class="px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">Enviar Codigo</button>
                                            <button *ngIf="enviado1" [disabled]="formCode1.invalid" [ngClass]="{'button-failed': apiFailed, 'hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300': !formCode1.invalid, 'bg-blue-300': formCode1.invalid}" (animationend)="onAnimationEnd()" type="submit" class="px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg">Verificar Codigo</button>
                                        </div>
                                    </div>

                                    <div class="mt-2">
                                        <!--Mensaje Error-->
                                        <div [ngClass]="{'hidden': invalido == false}" id="mensaje-error" class="flex p-4 mb-4 text-red-800 rounded-lg bg-red-50 " role="alert">
                                            <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                                            <span class="sr-only">Info</span>
                                            <div class="ml-3 text-sm font-medium">
                                                El codigo de verificacion no es valido.
                                            </div>
                                            <button (click)="invalido = false" class="ml-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700">
                                                <span class="sr-only">Dismiss</span>
                                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!--SMS-->
                    <h2 id="accordion-flush-heading-2">
                    <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400" data-accordion-target="#accordion-flush-body-2" aria-expanded="false" aria-controls="accordion-flush-body-2">
                        <span>Enviar mensaje por SMS</span>
                        <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>

                    </h2>
                    <div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-2">
                        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                            <span class="text-gray-500">Se enviará un mensaje SMS al número de teléfono asociado a esta cuenta con un código de 4 dígitos, ingrésalo dentro de la casilla para verificar que eres dueño de la cuenta:</span>

                            <div class="mt-2">
                                <form [formGroup]="formCode2" (ngSubmit)="onSubmitCode(formCode2.value)">
                                    <div class="flex">
                                        <div class="basis-1/2 mt-2">
                                            <label [ngClass]="{'text-red-700': formCode2.get('codigo_verificacion')?.invalid && formCode2.get('codigo_verificacion')?.touched || invalido}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Codigo de Verificación</label>
                                            <input formControlName="codigo_verificacion" [ngClass]="{'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500': formCode2.get('codigo_verificacion')?.invalid && formCode2.get('codigo_verificacion')?.touched || invalido}" type="number" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50" min="0" max="9999">
                                            <p *ngIf="formCode2.get('codigo_verificacion')?.invalid && formCode2.get('codigo_verificacion')?.touched" class="mt-2 text-sm text-red-600">
                                                <span *ngIf="formCode2.get('codigo_verificacion')?.errors?.['required']" class="text-xs font-medium">¡Ha sucedido un error! El codigo es requerido.</span>
                                            </p>

                                            <div *ngIf="enviado2" class="mt-2 text-sm font-medium text-gray-500">
                                                ¿No recibiste ningún código?
                                                <a class="text-blue-700 hover:underline dark:text-blue-500">Reenviar Código</a>
                                            </div>
                                        </div>
                                        
                                        <div class="basis-1/2 mt-9 pt-0.5 ml-2 pb-1 self-end">
                                            <button (click)="enviarCodigo2()" *ngIf="!enviado2" [ngClass]="{'button-failed': apiFailed}" (animationend)="onAnimationEnd()" type="submit" class="px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">Enviar Codigo</button>
                                            <button *ngIf="enviado2" [disabled]="formCode2.invalid" [ngClass]="{'button-failed': apiFailed, 'hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300': !formCode2.invalid, 'bg-blue-300': formCode2.invalid}" (animationend)="onAnimationEnd()" type="submit" class="px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg">Verificar Codigo</button>
                                        </div>
                                    </div>

                                    <div class="mt-2">
                                        <!--Mensaje Error-->
                                        <div [ngClass]="{'hidden': invalido == false}" id="mensaje-error" class="flex p-4 mb-4 text-red-800 rounded-lg bg-red-50 " role="alert">
                                            <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                                            <span class="sr-only">Info</span>
                                            <div class="ml-3 text-sm font-medium">
                                                El codigo de verificacion no es valido.
                                            </div>
                                            <button (click)="invalido = false" class="ml-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700">
                                                <span class="sr-only">Dismiss</span>
                                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!--Pregunta de Recuperacion-->
                    <h2 id="accordion-flush-heading-3">
                    <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400" data-accordion-target="#accordion-flush-body-3" aria-expanded="false" aria-controls="accordion-flush-body-3">
                        <span>Pregunta de recuperación</span>
                        <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>

                    </h2>
                    <div id="accordion-flush-body-3" class="hidden" aria-labelledby="accordion-flush-heading-3">
                        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                            <span class="mb-2 text-gray-500">Responde correctamente la pregunta de recuperación que está asociada a la cuenta:</span>

                            <div class="mt-2">
                                <form [formGroup]="formRespuesta" (ngSubmit)="onSubmitRespuesta(formRespuesta.value)">
                                    <div class="">
                                        <!--Pregunta-->
                                        <div class="mt-4">
                                            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Pregunta de Recuperacion</label>
                                            <input formControlName="pregunta" type="text" class="block w-full py-2 px-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50" readonly>
                                        </div>

                                        <!--Respuesta-->
                                        <div class="mt-4">
                                            <label [ngClass]="{'text-red-700': formRespuesta.get('respuesta')?.invalid && formRespuesta.get('respuesta')?.touched || invalido}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Respuesta</label>
                                            <input formControlName="respuesta" [ngClass]="{'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500': formRespuesta.get('respuesta')?.invalid && formRespuesta.get('respuesta')?.touched || invalido}" type="text" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50" required>
                                            <p *ngIf="formRespuesta.get('respuesta')?.invalid && formRespuesta.get('respuesta')?.touched" class="mt-2 text-sm text-red-600">
                                                <span *ngIf="formRespuesta.get('respuesta')?.errors?.['required']" class="text-xs font-medium">¡Ha sucedido un error! La respuesta es requerida.</span>
                                            </p>
                                        </div>

                                        <!--Mensaje Error-->
                                        <div [ngClass]="{'hidden': invalido == false}" id="mensaje-error" class="flex p-4 mt-2 mb-4 text-red-800 rounded-lg bg-red-50 " role="alert">
                                            <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                                            <span class="sr-only">Info</span>
                                            <div class="ml-3 text-sm font-medium">
                                                La respuesta es incorrecta.
                                            </div>
                                            <button (click)="invalido = false" class="ml-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700">
                                                <span class="sr-only">Dismiss</span>
                                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                            </button>
                                        </div>
                                        
                                        <!--Boton-->
                                        <div class="mt-4 text-end">
                                            <button [disabled]="formRespuesta.invalid" [ngClass]="{'button-failed': apiFailed, 'hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300': !formRespuesta.invalid, 'bg-blue-300': formRespuesta.invalid}" (animationend)="onAnimationEnd()" type="submit" class="px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg">Revisar Respuesta</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      </div>
    </div>
  </div>
  