<div class="relative overflow-x-auto w-full">
    <h3 class="text-4xl font-light text-blue-600 pt-2 pb-2 pl-4">Lista de Usuarios</h3>
    
    <hr class="mb-4 mx-4">

    <table class="mx-3 w-full text-sm text-left text-blue-100">
        <thead class="text-xs text-black uppercase bg-blue-400 ">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Username
                </th>
                <th scope="col" class="px-6 py-3">
                    Correo
                </th>
                <th scope="col" class="px-6 py-3">
                    Telefono
                </th>
                <th scope="col" class="px-6 py-3">
                    Estatus
                </th>
                <th scope="col" class="px-6 py-3">
                    Info_Cuenta
                </th>
                <th scope="col" class="px-6 py-3">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-gray-600 border-b border-blue-400 " *ngFor="let usuario of usuarios">
                <!--ID-->
                <th scope="row" class="px-6 py-4 font-medium text-blue-50 whitespace-nowrap dark:text-blue-100">
                    {{usuario.id}}
                </th>

                <!--Username-->
                <td class="px-6 py-4">
                    {{usuario.username}}
                </td>

                <!--Correo-->
                <td class="px-6 py-4">
                    {{usuario.correo}}
                </td>

                <!--Telefono-->
                <td class="px-6 py-4">
                    {{usuario.telefono}}
                </td>

                <!--Estatus-->
                <td class="px-6 py-4">
                    <ng-container [ngSwitch]="usuario.estatus">
                        <span *ngSwitchCase="0">Sin Verificar</span>
                        <span *ngSwitchCase="1">Desactivada</span>
                        <span *ngSwitchCase="2">Activo</span>
                    </ng-container>
                </td>
                
                <!--Info_Cuenta-->
                <td class="px-6 py-4">
                    <button type="button" class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300" data-drawer-target="drawer-info-cuenta" data-drawer-show="drawer-info-cuenta" data-drawer-placement="right" aria-controls="drawer-info-cuenta">Ver Informacion</button>

                    <div id="drawer-info-cuenta" class="fixed top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white w-80 dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-right-label">
                        <h5 id="drawer-right-label" class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400">
                            <svg class="w-5 h-5 mr-2" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
                            </svg>
                            <span>Informacion de Cuenta</span>
                        </h5>

                        <button type="button" data-drawer-hide="drawer-info-cuenta" aria-controls="drawer-info-cuenta" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                            <span class="sr-only">Cerrar</span>
                        </button>

                        <form action="#" class="mb-6">
                            <!--Nombre-->
                            <div class="mb-6">
                               <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
                               <input type="text" id="nombre" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ingresa el nombre del usuario..." required>
                            </div>

                            <!--Apellido Paterno-->
                            <div class="mb-6">
                               <label for="ap_pat" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellido Paterno</label>
                               <input type="text" id="ap_pat" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ingresa el apellido del usuario..." required>
                            </div>

                            <!--Apellido Materno-->
                            <div class="mb-6">
                                <label for="ap_mat" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellido Materno</label>
                                <input type="text" id="ap_mat" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ingresa el apellido del usuario..." required>
                            </div>

                            <!--Sexo-->
                            <div class="mb-6">
                                <label for="sexo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Sexo</label>
                                <select id="sexo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    <option value="M">Masculino</option>
                                    <option value="F">Femenino</option>
                                </select>
                            </div>

                            <!--Fecha de Nacimiento-->
                            <div class="mb-6">
                                <label for="f_nac" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de Nacimiento</label>
                                <input type="date" id="f_nac" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ingresa el apellido del usuario..." required>
                            </div>

                            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 w-full focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 block">Modificar Informacion</button>
                         </form>
                    </div>
                </td>

                <!--Acciones-->
                <td class="px-6 py-4 flex">
                    <!--Modificar Usuario-->
                    <button type="button" class="mr-2 px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300" data-drawer-target="drawer-info-usuario" data-drawer-show="drawer-info-usuario" data-drawer-placement="right" aria-controls="drawer-info-usuario">Modificar Usuario</button>

                    <!--Eliminar Usuario-->
                    <button type="button" class="mr-2 px-3 py-2 text-xs font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300">Eliminar Usuario</button>

                    <!--Modal Usuario-->
                    <div id="drawer-info-usuario" class="fixed top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white w-80 dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-right-label">
                        <h5 id="drawer-right-label" class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400">
                            <svg class="w-5 h-5 mr-2" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
                            </svg>
                            <span>Informacion de Usuario</span>
                        </h5>

                        <button type="button" data-drawer-hide="drawer-info-usuario" aria-controls="drawer-info-usuario" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                            <span class="sr-only">Cerrar</span>
                        </button>

                        <form action="#" class="mb-6">
                            <!--Username-->
                            <div class="mb-6">
                               <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                               <input type="text" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ingresa el nombre del usuario..." required>
                            </div>

                            <!--Estatus-->
                            <div class="mb-6">
                                <label for="estatus" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Estatus</label>
                                <select id="estatus" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    <option value="1">Desactivada</option>
                                    <option value="2">Activada</option>
                                </select>
                            </div>

                            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 w-full focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 block">Modificar Informacion</button>
                        </form>

                        <hr class="my-5 px-5">
                        
                        <div id="accordion-password" data-accordion="collapse">
                            <h2 id="accordion-password-heading">
                            <button type="button" class="flex items-center justify-between w-full py-2 px-5 font-medium text-left text-xs text-gray-500 border border-gray-200 rounded-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-password-body" aria-expanded="false" aria-controls="accordion-password-body">
                                <span>Cambiar Contraseña</span>
                                <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                            </button>

                            </h2>

                            <div id="accordion-password-body" class="hidden" aria-labelledby="accordion-password-heading">
                                <div class="p-5 pb-2 border border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                                    <form action="#">
                                        <!--Contraseña-->
                                        <div class="mb-2">
                                           <label for="password" class="block mb-2 text-xs font-medium text-gray-900 dark:text-white">Ingrese la nueva contraseña:</label>
                                           <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                                        </div>
            
                                        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 w-full focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-xs px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 block">Cambiar Contraseña</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>