<div class="relative overflow-x-auto w-full">
    <h3 class="text-4xl font-light text-blue-600 pt-2 pb-6 pl-4">Lista de Usuarios</h3>

    <!--Lenght 0-->
    <div [ngClass]="{'hidden': usuarios.length > 0}" class="container flex justify-center t-5">
        <div class="px-4 py-3 basis-1/2">
            <h1 class="text-center text-3xl font-medium mb-3">No hay usuarios para mostrar</h1>
            <p class="text-center text-lg">No hay usuarios registrados en este momento. Agrega un usuario o espera a que algun usuario sea registrada por otro usuario.</p>
        </div>
    </div>

    <table class="mx-3 w-full text-sm text-left text-blue-100">
        <thead class="text-xs text-black uppercase bg-blue-400 ">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Username
                </th>
                <th scope="col" class="px-6 py-3">
                    Correo
                </th>
                <th scope="col" class="px-6 py-3">
                    Telefono
                </th>
                <th scope="col" class="px-6 py-3">
                    Estatus
                </th>
                <th scope="col" class="px-6 py-3">
                    Info_Cuenta
                </th>
                <th scope="col" class="px-6 py-3">
                    Acciones
                </th>
            </tr>
        </thead>

        <tbody>
            <tr class="bg-gray-600 border-b border-blue-400 " *ngFor="let usuario of usuarios">
                <!--ID-->
                <th scope="row" class="px-6 py-4 font-medium text-blue-50 whitespace-nowrap dark:text-blue-100">
                    {{usuario.id}}
                </th>

                <!--Username-->
                <td class="px-6 py-4">
                    {{usuario.username}}
                </td>

                <!--Correo-->
                <td class="px-6 py-4">
                    {{usuario.correo}}
                </td>

                <!--Telefono-->
                <td class="px-6 py-4">
                    {{usuario.telefono}}
                </td>

                <!--Estatus-->
                <td class="px-6 py-4">
                    <ng-container [ngSwitch]="usuario.estatus">
                        <span *ngSwitchCase="0">Sin Verificar</span>
                        <span *ngSwitchCase="1">Desactivada</span>
                        <span *ngSwitchCase="2">Activo</span>
                    </ng-container>
                </td>
                
                <!--Info_Cuenta-->
                <td class="px-6 py-4">
                    <!--Boton Drawer Info Personal-->
                    <button (click)="getInfoUsuario(usuario.id)" class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300" data-drawer-target="drawer-info-cuenta" data-drawer-show="drawer-info-cuenta" data-drawer-placement="right" aria-controls="drawer-info-cuenta">Ver Informacion</button>

                    <!--Drawer Info Personal-->
                    <div id="drawer-info-cuenta" class="fixed top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white w-80 dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-right-label">

                        <!--Titulo-->
                        <h5 id="drawer-right-label" class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400">
                            <svg class="w-5 h-5 mr-2" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
                            </svg>
                            <span>Informacion de Cuenta</span>
                        </h5>

                        <!--Boton Cerrar-->
                        <button type="button" data-drawer-hide="drawer-info-cuenta" aria-controls="drawer-info-cuenta" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center">
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                            <span class="sr-only">Cerrar</span>
                        </button>

                        <!--Formulario Info Personal-->
                        <form class="mb-6" [formGroup]="formInfoUsuario" (ngSubmit)="modificarInfoUsuario(formInfoUsuario.value)">
                            <!--Nombre-->
                            <div class="mb-6">
                               <label [ngClass]="{'text-red-700': formInfoUsuario.get('nombre')?.invalid && formInfoUsuario.get('nombre')?.touched}" for="nombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
                               <input [ngClass]="{'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500': formInfoUsuario.get('nombre')?.invalid && formInfoUsuario.get('nombre')?.touched}" formControlName="nombre" name="nombre" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Juan José" required>
                               <p *ngIf="formInfoUsuario.get('nombre')?.invalid && formInfoUsuario.get('nombre')?.touched" class="mt-2 text-sm text-red-600">
                                <span *ngIf="formInfoUsuario.get('nombre')?.errors?.['required']" class="font-medium">¡Ha sucedido un error! El nombre es requerido.</span>
                                <span *ngIf="formInfoUsuario.get('nombre')?.errors?.['minlength']" class="font-medium">¡Ha sucedido un error! El nombre debe tener al menos 3 caracteres.</span>
                            </p>
                            </div>

                            <!--Apellido Paterno-->
                            <div class="mb-6">
                                <label [ngClass]="{'text-red-700': formInfoUsuario.get('ap_paterno')?.invalid && formInfoUsuario.get('ap_paterno')?.touched}" for="ap_paterno" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellido Paterno</label>
                                <input [ngClass]="{'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500': formInfoUsuario.get('ap_paterno')?.invalid && formInfoUsuario.get('ap_paterno')?.touched}" formControlName="ap_paterno" name="ap_paterno" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Rodríguez" required>
                                <p *ngIf="formInfoUsuario.get('ap_paterno')?.invalid && formInfoUsuario.get('ap_paterno')?.touched" class="mt-2 text-sm text-red-600">
                                    <span *ngIf="formInfoUsuario.get('ap_paterno')?.errors?.['required']" class="font-medium">¡Ha sucedido un error! El apellido paterno es requerido.</span>
                                    <span *ngIf="formInfoUsuario.get('ap_paterno')?.errors?.['minlength']" class="font-medium">¡Ha sucedido un error! El apellido paterno debe tener al menos 3 caracteres.</span>
                                </p>
                            </div>

                            <!--Apellido Materno-->
                            <div class="mb-6">
                                <label [ngClass]="{'text-red-700': formInfoUsuario.get('ap_materno')?.invalid && formInfoUsuario.get('ap_materno')?.touched}" for="ap_materno" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellido Materno</label>
                                <input [ngClass]="{'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500': formInfoUsuario.get('ap_materno')?.invalid && formInfoUsuario.get('ap_materno')?.touched}" formControlName="ap_materno" name="ap_materno" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="García" required>
                                <p *ngIf="formInfoUsuario.get('ap_materno')?.invalid && formInfoUsuario.get('ap_materno')?.touched" class="mt-2 text-sm text-red-600">
                                    <span *ngIf="formInfoUsuario.get('ap_materno')?.errors?.['required']" class="font-medium">¡Ha sucedido un error! El apellido materno es requerido.</span>
                                    <span *ngIf="formInfoUsuario.get('ap_materno')?.errors?.['minlength']" class="font-medium">¡Ha sucedido un error! El apellido materno debe tener al menos 3 caracteres.</span>
                                </p>
                            </div>

                            <!--Sexo-->
                            <div class="mb-6">
                                <label for="sexo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Sexo</label>
                                <select formControlName="sexo" name="sexo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                </select>
                            </div>

                            <!--Fecha de Nacimiento-->
                            <div class="mb-6">
                                <label for="fecha_nacimiento" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de Nacimiento</label>
                                <input formControlName="fecha_nacimiento" name="fecha_nacimiento" type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                            </div>

                            <!--Boton Modificar-->
                            <button data-drawer-hide="drawer-info-cuenta" aria-controls="drawer-info-cuenta" type="submit" class="text-white bg-blue-700 hover:bg-blue-800 w-full focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 block">Modificar Informacion</button>
                         </form>
                    </div>
                </td>

                <!--Acciones-->
                <td class="px-6 py-4 flex">
                    <!--Modificar Usuario-->
                    <button (click)="getUsuarioUnico(usuario.id)" type="button" class="mr-2 px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300" data-drawer-target="drawer-info-usuario" data-drawer-show="drawer-info-usuario" data-drawer-placement="right" aria-controls="drawer-info-usuario">Modificar Usuario</button>

                    <!--Drawer Usuario-->
                    <div id="drawer-info-usuario" class="fixed top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white w-80" tabindex="-1" aria-labelledby="drawer-right-label">

                        <!--Titulo-->
                        <h5 id="drawer-right-label" class="inline-flex items-center mb-4 text-base font-semibold text-gray-500">
                            <svg class="w-5 h-5 mr-2" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
                            </svg>
                            <span>Informacion de Usuario</span>
                        </h5>

                        <!--Boton Cerrar-->
                        <button type="button" data-drawer-hide="drawer-info-usuario" aria-controls="drawer-info-usuario" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center" >
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                            <span class="sr-only">Cerrar</span>
                        </button>

                        <!--Formulario Usuario-->
                        <form class="mb-6" [formGroup]="formUsuario" (ngSubmit)="modificarUsuario(user.id, formUsuario.value)">

                            <!--Username-->
                            <div class="mb-6">
                               <label [ngClass]="{'text-red-700': formUsuario.get('username')?.invalid && formUsuario.get('username')?.touched}" for="username" class="block mb-2 text-sm font-medium text-gray-900">Username</label>
                               <input [ngClass]="{'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500': formUsuario.get('username')?.invalid && formUsuario.get('username')?.touched}" formControlName="username" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Usuario" required>
                               <p *ngIf="formUsuario.get('username')?.invalid && formUsuario.get('username')?.touched" class="mt-2 text-sm text-red-600">
                                <span *ngIf="formUsuario.get('username')?.errors?.['required']" class="font-medium">¡Ha sucedido un error! El nombre de usuario es requerido.</span>
                                <span *ngIf="formUsuario.get('username')?.errors?.['minlength']" class="font-medium">¡Ha sucedido un error! El nombre de usuario debe tener al menos 5 caracteres.</span>
                            </p>
                            </div>

                            <!--Estatus-->
                            <div class="mb-6">
                                <label for="estatus" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Estatus</label>
                                <select formControlName="estatus" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                    <option value="0" disabled>Sin Verificar</option>
                                    <option value="1">Desactivada</option>
                                    <option value="2">Activada</option>
                                </select>
                            </div>

                            <!--Boton Actualizar Usuario-->
                            <button [disabled]="formUsuario.invalid" [ngClass]="{'hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300': !formUsuario.invalid, 'bg-blue-300': formUsuario.invalid}" data-drawer-hide="drawer-info-usuario" aria-controls="drawer-info-usuario" type="submit" class="text-white bg-blue-700 hover:bg-blue-800 w-full focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Modificar Informacion</button>
                        </form>

                        <hr class="my-5 px-5">
                        
                        <!--Acordion Cambiar Password-->
                        <div id="accordion-password" data-accordion="collapse">
                            <h2 id="accordion-password-heading">
                            <button type="button" class="flex items-center justify-between w-full py-2 px-5 font-medium text-left text-xs text-gray-500 border border-gray-200 rounded-xl focus:ring-4 focus:ring-gray-200" data-accordion-target="#accordion-password-body" aria-expanded="false" aria-controls="accordion-password-body">
                                <span>Cambiar Contraseña</span>
                                <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                            </button>

                            </h2>

                            <div id="accordion-password-body" class="hidden" aria-labelledby="accordion-password-heading">
                                <div class="p-5 pb-2 border border-gray-200">
                                    <form [formGroup]="formPassword" (ngSubmit)="modificarUsuarioPassword(user.id, formPassword.value)">
                                        <!--Contraseña-->
                                        <div class="mb-2">
                                            <label [ngClass]="{'text-red-700': formPassword.get('password')?.invalid && formPassword.get('password')?.touched}" for="password" class="block mb-2 text-xs font-medium text-gray-900 dark:text-white">Ingrese la nueva contraseña:</label>
                                            <input [ngClass]="{'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500': formPassword.get('password')?.invalid && formPassword.get('password')?.touched}" formControlName="password" type="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
                                            <p *ngIf="formPassword.get('password')?.invalid && formPassword.get('password')?.touched" class="mt-2 text-xs text-red-600">
                                                <span *ngIf="formPassword.get('password')?.errors?.['required']" class="font-medium">¡Ha sucedido un error! La contraseña es requerida.</span>
                                                <span *ngIf="formPassword.get('password')?.errors?.['minlength']" class="font-medium">¡Ha sucedido un error! La contraseña debe tener al menos 8 caracteres.</span>
                                            </p>
                                        </div>
            
                                        <!--Boton Cambiar Password-->
                                        <button [disabled]="formPassword.invalid" [ngClass]="{'hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300': !formPassword.invalid, 'bg-blue-300': formPassword.invalid}" data-drawer-hide="drawer-info-usuario" aria-controls="drawer-info-usuario" type="submit" class="text-white bg-blue-700 hover:bg-blue-800 w-full focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-xs px-5 py-2.5 mr-2 mb-2 focus:outline-none block">Cambiar Contraseña</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Eliminar Usuario-->
                    <button type="button" data-modal-target="delete-modal" data-modal-toggle="delete-modal" class="mr-2 px-3 py-2 text-xs font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300">Eliminar Usuario</button>

                    <!--Delete Modal-->
                    <div id="delete-modal" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                        <div class="relative w-full max-w-md max-h-full">
                            <div class="relative bg-white rounded-lg shadow">

                                <!--Cerrar-->
                                <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-hide="delete-modal">
                                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                                    </svg>

                                    <span class="sr-only">Cerrar modal</span>
                                </button>

                                <div class="p-6 text-center">
                                    <svg aria-hidden="true" class="mx-auto mb-4 text-gray-400 w-14 h-14 dark:text-gray-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                    </svg>

                                    <h3 class="mb-5 text-lg font-normal text-gray-500">¿Seguro que desea eliminar este usuario?</h3>

                                    <!--Aceptar-->
                                    <button (click)="deleteUsuario(usuario.id)" data-modal-hide="delete-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                                        Sí, estoy seguro
                                    </button>
                                    
                                    <!--Cancelar-->
                                    <button data-modal-hide="delete-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10">
                                        No, cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>