<div class="relative overflow-x-auto w-full">
    <h3 class="text-4xl font-light text-blue-600 pt-2 pb-6 pl-4">Peticiones de Reactivación</h3>

    <!--Lenght 0-->
    <div [ngClass]="{'hidden': peticiones.length > 0}" class="container md:flex justify-center t-5">
        <div class="px-4 py-3 md:basis-1/2">
            <h1 class="md:text-center text-3xl font-medium mb-3">No hay peticiones pendientes</h1>
            <p class="md:text-center text-lg">No hay peticiones pendientes en este momento. Por favor, revisa de nuevo más tarde para ver si aparecen nuevas peticiones.</p>
        </div>
    </div>

    <!--Peticiones-->
    <div [ngClass]="{'hidden': peticiones.length <= 0}" class="md:flex md:flex-wrap">
        <div class="md:basis-1/2" *ngFor="let peticion of peticiones">
            <div class="border mx-3 mb-3 px-5 py-4 md:basis-1/2 bg-gray-100 rounded-xl">

                <!--Numero y Fecha-->
                <div class="md:flex mb-4">
                    <div class="md:basis-1/2">
                        <span class="text-gray-900 text-xl font-medium">Peticion N°{{peticion.id}}: <span class="text-blue-700">{{getUsuarioUsername(peticion.user_id)}}</span></span>
                    </div>

                    <div class="md:basis-1/2 md:text-end mt-2 md:mt-0">
                        <span class="text-gray-900 text-lg font-medium">Fecha de Solicitud: </span>
                        <span class="px-3 py-2 bg-white rounded-lg border text-md">{{peticion.fecha}}</span>
                    </div>
                </div>

                <!--Correo y Telefono-->
                <div class="md:flex mb-2">
                    <div class="md:basis-1/2">
                        <span class="text-gray-900 text-lg font-medium">Correo: </span>
                        <span class="px-3 py-2 bg-white rounded-lg border">{{getUsuarioCorreo(peticion.user_id)}}</span>
                    </div>

                    <div class="md:basis-1/2 md:text-end">
                        <span class="text-gray-900 text-lg font-medium">Telefono: </span>
                        <span class="px-3 py-2 bg-white rounded-lg border">{{getUsuarioTelefono(peticion.user_id)}}</span>
                    </div>   
                </div>

                <!--Mensaje-->
                <div>
                    <span class="text-gray-900 text-lg font-medium">Mensaje:</span>
                    <div class="justify-center">
                        <textarea class="mt-2 py-2 bg-white rounded-lg border" disabled cols="66" rows="4" style="width: 100%;">{{peticion.mensaje}}</textarea>
                    </div>
                </div>

                <!--Botones-->
                <div class="flex justify-end mt-3">
                    <button class="px-3 py-2 text-xs font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300" (click)="denegarPeticion(peticion.id)">Rechazar</button>
                    <button class="ml-2 px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300" (click)="aceptarPeticion(peticion.id)">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>