<!--Drawer Mostrar Invitados-->
<div class="fixed top-0 right-0 z-40 h-screen p-4 overflow-y-auto bg-white w-80">
    <!--Titulo-->
    <h5 id="drawer-right-label" class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400">
        <svg class="w-5 h-5 mr-2" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
        </svg>
        Informacion de Sensores
    </h5>

    <!--Boton Cerrar-->
    <button (click)="closeDialog()" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Cerrar Menu</span>
    </button>

    <!--Temperatura-->
    <div class="mt-2 mb-4 mb-4 px-3 py-2 bg-white border-2 border-gray-300 rounded-lg">
        <div class="text-lg font-medium">
            <span>1.- <span class="text-blue-700 underline">Sensor de Temperatura</span></span>
        </div>

        <div class="flex mt-1">
            <div class="basis-1/2 flex self-end">
                <span>{{temperatura.sensor.identificador}}</span>
            </div>

            <div class="basis-1/2 text-end self-end">
                <span class="text-lg font-medium">{{temperatura.valor}}</span>
            </div>
        </div>
    </div>

    <!--Agua-->
    <div class="mt-2 mb-4 px-3 py-2 bg-white border-2 border-gray-300 rounded-lg">
        <div class="text-lg font-medium">
            <span>2.- <span class="text-blue-700 underline">Sensor de Inundacion</span></span>
        </div>

        <div class="flex mt-1">
            <div class="basis-1/2 flex self-end">
                <span>{{ agua.sensor.identificador }}</span>
            </div>

            <div class="basis-1/2 text-end self-end">
                <span class="text-lg font-medium">{{ agua.valor}}</span>
            </div>
        </div>
    </div>


    <!--Luz-->
    <div class="mt-2 mb-4 px-3 py-2 bg-white border-2 border-gray-300 rounded-lg">
        <div class="text-lg font-medium">
            <span>3.- <span class="text-blue-700 underline">Fotorresistencia</span></span>
        </div>

        <div class="flex mt-1">
            <div class="basis-1/2 flex self-end">
                <span>{{luz.sensor.identificador}}</span>
            </div>

            <div class="basis-1/2 text-end self-end">
                <span class="text-lg font-medium">{{luz.valor}}</span>
            </div>
        </div>
    </div>

    <!--Humo-->
    <div class="mt-2 mb-4 px-3 py-2 bg-white border-2 border-gray-300 rounded-lg">
        <div class="text-lg font-medium">
            <span>4.- <span class="text-blue-700 underline">Sensor de Humo</span></span>
        </div>

        <div class="flex mt-1">
            <div class="basis-1/2 flex self-end">
                <span>{{ humo.sensor.identificador }}</span>
            </div>

            <div class="basis-1/2 text-end self-end">
                <span class="text-lg font-medium">{{humo.valor}}</span>
            </div>
        </div>
    </div>

    <!--Movimiento-->
    <div class="mt-2 mb-4 px-3 py-2 bg-white border-2 border-gray-300 rounded-lg">
        <div class="text-lg font-medium">
            <span>5.- <span class="text-blue-700 underline">Sensor de Movimiento</span></span>
        </div>

        <div class="flex mt-1">
            <div class="basis-1/2 flex self-end">
                <span>{{ movimiento.sensor.identificador }}</span>
            </div>

            <div class="basis-1/2 text-end self-end">
                <span class="text-lg font-medium">{{ movimiento.valor }}</span>
            </div>
        </div>
    </div>

    <!--Infrarrojo-->
    <div class="mt-2 mb-4 px-3 py-2 bg-white border-2 border-gray-300 rounded-lg">
        <div class="text-lg font-medium">
            <span>6.- <span class="text-blue-700 underline">Infrarrojo</span></span>
        </div>

        <div class="flex mt-1">
            <div class="basis-1/2 flex self-end">
                <span>{{ infrarrojo.sensor.identificador }}</span>
            </div>

            <div class="basis-1/2 text-end self-end">
                <span class="text-lg font-medium">{{ infrarrojo.valor }}</span>
            </div>
        </div>
    </div>

    <!--Distancia-->
    <div class="mt-2 mb-4 px-3 py-2 bg-white border-2 border-gray-300 rounded-lg">
        <div class="text-lg font-medium">
            <span>7.- <span class="text-blue-700 underline">Sensor Ultrasonico</span></span>
        </div>

        <div class="flex mt-1">
            <div class="basis-1/2 flex self-end">
                <span>{{ ultrasonico.sensor.identificador }}</span>
            </div>

            <div class="basis-1/2 text-end self-end">
                <span class="text-lg font-medium">{{ ultrasonico.valor }}</span>
            </div>
        </div>
    </div>
</div>
