<div class="md:flex md:justify-end">
    <div class="md:basis-1/2">
        <!--Mis Invitaciones-->
        <div class="mx-4 mt-4 border border-gray-300 border-2 bg-white px-6 py-4 rounded-lg">
            <!--Título-->
            <div class="mt-2 mb-3 flex">
                <div class="basis-1/2">
                    <span class="text-xl font-semibold">Mis Invitaciones</span>
                </div>

                <div class="basis-1/2">
                    <!--Logo-->
                    <div class="flex items-center justify-end">
                        <img src="../../../../assets/escudo.svg" alt="logo" class="mr-1" style="max-width: 24px; max-height: 24px;">
                        <span class="self-center text-lg font-semibold whitespace-nowrap">ShopShield</span>
                    </div>
                </div>
            </div>

            <div class="mb-2 border border-gray-400 border-2"></div>

            <!--Invitacion-->
            <div class="mb-3" *ngFor="let invitacion of invitaciones">
                <div class="mb-1 ml-1">
                    <span class="text-xs md:text-sm font-medium">{{getUsernameOwner(invitacion.owner_id)}} te ha invitado a unirte a una tienda • {{invitacion.fecha}}</span>
                </div>

                <div class="px-3 py-2 border border-gray-200 border-2 rounded-lg bg-gray-100/50 md:flex">
                    <div class="basis-auto hidden sm:block">
                        <img class=" w-8 h-8 mt-1 mr-2 rounded-full" src="../../../../assets/toby.jpeg" alt="user photo">
                    </div>

                    <div class="flex-grow">
                        <div>
                            <span class="text-sm md:text-base font-medium">{{getNombreCompletoOwner(invitacion.owner_id)}} - <span class="text-xs md:text-sm">{{getCorreoOwner(invitacion.owner_id)}}</span></span>
                        </div>

                        <div>
                            <span class="text-xs md:text-sm">{{getNombreTienda(invitacion.tienda_id)}}</span>
                        </div>
                    </div>

                    <div class="md:basis-auto">
                        <!--Aceptar-->
                        <div class="text-end mt-1">
                            <button (click)="onSubmitInvitacion(invitacion.id, true)" type="button" class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">Aceptar Invitacion</button>
                        </div>

                        <!--Eliminar-->
                        <div class="text-end mr-1">
                            <a (click)="onSubmitInvitacion(invitacion.id, false)" class="text-xs underline hover:text-red-500 a-link">Eliminar Solicitud</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Mensaje-->
            <div *ngIf="invitaciones.length <= 0" class="md:text-center mb-3">
                <div class="text-base md:text-lg font-semibold">No se han encontrado invitaciones</div>
                <div class="text-sm md:text-base">Actualmente, no cuenta con invitaciones pendientes. Vuelva a revisar de nuevo más tarde para ver si aparecen nuevas peticiones.</div>
            </div>
        </div>

        <!--Invitar Usuarios-->
        <div class="mx-4 mt-4 border border-gray-300 border-2 bg-white px-6 py-4 rounded-lg">
            <!--Título-->
            <div class="mt-2 mb-3 flex">
                <div class="basis-1/2">
                    <span class="text-xl font-semibold">Invitar Usuarios</span>
                </div>

                <div class="basis-1/2">
                    <!--Logo-->
                    <div class="flex items-center justify-end">
                        <img src="../../../../assets/escudo.svg" alt="logo" class="mr-1" style="max-width: 24px; max-height: 24px;">
                        <span class="self-center text-lg font-semibold whitespace-nowrap">ShopShield</span>
                    </div>
                </div>
            </div>

            <div class="mb-2 border border-gray-400 border-2"></div>

            <div>
                <span>Para invitar a alguien a participar en tu tienda, debes seleccionar a la persona adecuada y enviarle una invitación para participar en la tienda.</span>
            </div>

            <!--Invitacion-->
            <div class="mt-4">
                <div class="px-3 py-2 border border-gray-200 border-2 rounded-lg bg-gray-100/50">
                    <div>
                        <form class="md:flex py-2" [formGroup]="formInvitar" (ngSubmit)="onSubmitInvitar(formInvitar.value)">
                            <div class="md:flex-grow md:pr-4">
                                <label for="tienda_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tienda</label>
                                <select formControlName="tienda_id" id="tienda_id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                                    <option value="" selected disabled>Selecciona una tienda</option>
                                    <option *ngFor="let tiendaOwner of tiendasOwner" [value]="tiendaOwner.tienda_id">{{tiendaOwner.tienda_id}}.- {{getNombreTienda(tiendaOwner.tienda_id)}}</option>
                                </select>
                            </div>
    
                            <div class="md:flex-grow md:px-4">
                                <label for="invitado_id" class="block mb-2 text-sm font-medium text-gray-900">Invitado</label>
                                <select formControlName="invitado_id" id="invitado_id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                                    <option value="" selected disabled>Selecciona una usuario</option>
                                    <option *ngFor="let user of allUsers" [value]="user.id">{{user.id}}.- {{user.correo}}</option>
                                </select>
                            </div>
    
                            <div class="mt-4 md:mt-0 md:basis-auto self-end text-end md:text-start">
                                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-px">Invitar Usuario</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Unirme Por Codigo-->
    <div class="md:basis-1/4">
        <div class="mx-4 mt-4 border border-gray-300 border-2 bg-white px-6 py-4 rounded-lg">
            <!--Logo-->
            <div class="flex items-center justify-end">
                <img src="../../../../assets/escudo.svg" alt="logo" class="mr-1" style="max-width: 24px; max-height: 24px;">
                <span class="self-center text-lg font-semibold whitespace-nowrap">ShopShield</span>
            </div>

            <!-- Título -->
            <div class="mt-3 md:mt-0 mb-3">
                <span class="text-xl font-semibold">Únete a una tienda</span>
            </div>

            <!--Mensaje-->
            <div class="mb-6">
                <span class="text-sm text-justify">
                    Ingresa el código de invitación que te fue proporcionado para unirte a una tienda. Asegúrate de ingresar el código correctamente para que puedas unirte sin problemas.
                </span>
            </div>

            <!-- Formulario -->
            <div class="mb-2">
                <form [formGroup]="formCode" (ngSubmit)="onSubmitCode(formCode.value)">
                    <div class="flex">
                        <div class="basis-1/2 mt-2">
                            <label [ngClass]="{'text-red-700': formCode.get('codigo')?.invalid && formCode.get('codigo')?.touched || invalido}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Codigo de Invitación</label>
                            <input formControlName="codigo" [ngClass]="{'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500': formCode.get('codigo')?.invalid && formCode.get('codigo')?.touched || invalido}" type="number" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50" min="0" max="9999">
                            <p *ngIf="formCode.get('codigo')?.invalid && formCode.get('codigo')?.touched" class="mt-2 text-sm text-red-600">
                                <span *ngIf="formCode.get('codigo')?.errors?.['required']" class="text-xs font-medium">¡Ha sucedido un error! El codigo es requerido.</span>
                            </p>
                        </div>
                        
                        <div class="basis-1/2 mt-9 pt-0.5 ml-2 pb-1">
                            <button [disabled]="formCode.invalid" [ngClass]="{'button-failed': apiFailed, 'hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300': !formCode.invalid, 'bg-blue-300': formCode.invalid}" (animationend)="onAnimationEnd()" type="submit" class="px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg">Unirme</button>
                        </div>
                    </div>

                    <div class="mt-2">
                        <!--Mensaje Error-->
                        <div [ngClass]="{'hidden': invalido == false}" id="mensaje-error" class="flex p-4 mt-2 mb-4 text-red-800 rounded-lg bg-red-50 " role="alert">
                            <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                            <span class="sr-only">Info</span>
                            <div class="ml-3 text-sm font-medium">
                                El codigo de verificacion no es valido.
                            </div>
                            <button (click)="invalido = false" class="ml-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700">
                                <span class="sr-only">Dismiss</span>
                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>